body {
  margin: 0;
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    margin: 0;
    padding: 0;
  }
}

.container {
  padding: 2em 0;
}

a {
  text-decoration: none;
  color: unset;
}

.artwork {
  .upper-row {
    position: relative;
    z-index: 1;
  }
  .lower-row {
    position: relative;
    top: -3rem;
    z-index: -1;
  }

  li {
    position: relative;
    div,
    p {
      position: absolute;
    }
  }
  .upper-row li,
  .lower-row li {
    &:first-child {
      z-index: 3;
      img {
        width: 150%;
      }
    }
    &:nth-child(2) {
      z-index: 2;
      img {
        width: 150%;
      }
      top: 1rem;
    }
    &:nth-child(3) {
      z-index: 1;
      img {
        width: 150%;
      }
      top: 3rem;
    }
    &:last-child {
      top: 2rem;
      img {
        width: 150%;
      }
    }
  }
}

#carousel-one {
  justify-content: center;
  //   .carousel-item {
  //     display: block;
  //   }
  img {
    background-color: black;
  }
}
